@import 'colors';
@import 'font';
@import 'adaptive';
@import 'spacing';
@import 'notyf/notyf.min.css';

.no-download {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  user-select: none; /* Standard syntax */
  pointer-events: none;
}

a {
  color: inherit;
  text-decoration: unset;
}

* {
  box-sizing: border-box;
}

.leaflet-control-attribution.leaflet-control {
  display: none !important;
}

.q-menu {
  background-color: var(--background-color);
  color: var(--on-background-color);
}

.q-date__view {
  background-color: var(--background-color);
}

.q-time__main {
  background-color: var(--background-color);
}

.q-field--auto-height.q-field--labeled .q-field__control-container {
  padding-top: unset !important;
}

.q-field--labeled .q-field__native,
.q-field--labeled .q-field__prefix,
.q-field--labeled .q-field__suffix {
  line-height: 24px;
  padding-top: 6px !important;
  padding-bottom: 8px;
}

.c-notification {
  min-width: 200px;
  max-width: 240px;
  padding: 7px 7px 7px 15px !important;

  .q-btn {
    min-height: unset !important;

    .q-btn__content {
      flex: 0 !important;
    }
  }

  .q-btn:not(.absolute-top-right) {
    margin-top: 10px;
  }

  .q-notification__wrapper {
    height: unset;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .q-notification__message {
    margin-right: 26px;
    padding: 0 !important;
  }

  .absolute-top-right .q-btn__content {
    flex: 0 !important;
  }

  .q-btn {
    padding: 0 !important;
    text-transform: unset !important;

    .q-btn__content {
      i {
        order: 1;
        margin-right: 0 !important;
        margin-left: 4px !important;
        font-size: 18px !important;
        transform: rotateY(180deg);
      }
    }
  }

  .q-notification__actions {
    justify-content: flex-start !important;
  }
}

.c-btn .q-focus-helper {
  display: none !important;
}

.c-container {
  max-width: 1290px;
  width: 100%;
  margin: 0 auto;
}

.q-footer {
  z-index: 50 !important;
}

.maximize-modal {
  .q-dialog__inner--minimized {
    padding: 0px !important;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.rounded-15 {
  border-radius: 15px !important;
}

.rounded-10 {
  border-radius: 10px !important;
}

.rounded-5 {
  border-radius: 5px !important;
}

.rounded-100 {
  border-radius: 100px !important;
}

.custom-scroll-bar {
  &::-webkit-scrollbar-track,
  *::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar,
  *::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: var(--background-color);
  }

  &::-webkit-scrollbar-thumb,
  *::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 10px;
  }
}

.q-field--auto-height .q-field__control,
.q-field--auto-height .q-field__native {
  min-height: unset !important;
  height: 100%;
}

.q-field__marginal {
  height: unset !important;
}

body:not(.safari) {
  .q-field {
    .q-field__control {
      height: -webkit-fill-available !important;
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.change-amount {
  .q-field {
    .q-field__control {
      height: inherit !important;
    }
    .q-field__inner {
      height: inherit !important;
    }
  }
}

@-moz-document url-prefix() {
  .q-body--prevent-scroll {
    position: unset !important;
  }
}

.q-field--outlined .q-field__control:before,
.q-editor {
  border: 1px solid $gray-light;
}

.default {
  &.q-field--outlined .q-field__control:after,
  .q-field__control:before {
    border-radius: 10px !important;
  }
}

.no-readonly {
  .q-field--outlined.q-field--readonly .q-field__control:before {
    border-style: solid !important;
  }
}

.bg-white-opacity {
  background-color: rgba(255, 255, 255, 0.6);
}

ul {
  padding: 0;
  margin: 0;
}

li {
  margin: 0;
  padding: 0;
}

.q-menu {
  border-radius: var(--border-radius);
}

.marker-shadow .leaflet-marker-icon {
  width: 37px !important;
  height: 37px !important;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  background-color: white;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  animation:
    pulse 2s ease 3 normal,
    size 1s linear 1 alternate;
}
